In [17]:
import pandas as pd
def convert_people_cell(cell):
    if cell=="n.a."or cell=="not available":
        return "Dipesh Ghimire"
    return cell
def convert_eps_cell(cell):
    if cell=="n.a."or cell=="not available":
        return None
    return cell

In [18]:
df = pd.read_excel("stockexcel.XLSX","Sheet1",converters={'PEOPLE':convert_people_cell,'EPS':convert_eps_cell})
df

     TICKERS    EPS  REVENUE PRICE          PEOPLE
0     google  27.82       87   845      larry page
1    walmart   4.61      484    65  Dipesh Ghimire
2  microsoft  -1.00       85    64      bill gates
3   reliance    NaN       50  1023          mukesh
4       tata   5.60       -1  n.a.           ratan

In [22]:
df.to_excel("new.xlsx",startrow=1,startcol=4,index=False)