In [1]:
import pandas as pd
df = pd.read_csv("1.DataframeT2.csv");

In [26]:
df

        Day  Temperature  WindSpeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
# Create dataframe using Python Dictionary
weather_data = [{'Day':'5/12/2022','Temperature':'40','WindSpeed':'10','Event':'Cloudy'},
               {'Day':'5/12/2023','Temperature':'04','New_row':'New_value','WindSpeed':'01','Event':'Rain'}
               ];
df2 = pd.DataFrame(weather_data);
df2;

In [34]:
#view
df.shape;
df[2:5];
df.columns;
df.Day;
df[['Day','Temperature']];

In [54]:
#operations
df['Temperature'].max();
df['Temperature'].describe();
df[['Day','Event']][df.Temperature>=30];
df[df.Temperature>=30];

In [85]:
#set index and range of index
df.index;
#df.set_index('Day',inplace=False)
#df.reset_index(inplace=True)

In [87]:
#df.loc['1/4/2017'];

In [105]:
df.set_index('Day',inplace=True)

In [107]:
df.loc['1/1/2017']

Temperature      32
WindSpeed         6
Event          Rain
Name: 1/1/2017, dtype: object